<div class="well" data-bind="css: correctionClass">
	<div class="h4" data-bind="text: question.text"></div>

	<div data-bind="if: question.questionType() === 1 && question.answers().length > 0">
		<passed-simple-answer params="answer: question.answers()[0], questionId: question.id, assessment: assessment,"></passed-simple-answer>
	</div>

	<div data-bind="if: question.questionType() === 2">
		<ul class="unstyled-list" data-bind="foreach: { data: question.answers, as: 'answer'}">
			<li>
				<passed-radio-answer params="answer: answer, questionId: question.id, assessment: $parent.assessment, chosenRadioAnswerId: $parent.chosenRadioAnswerId"></passed-radio-answer>
			</li>
		</ul>
	</div>

	<div data-bind="if: question.questionType() === 3">
		<ul class="unstyled-list" data-bind="foreach: { data: question.answers, as: 'answer'}">
			<li>
				<passed-checkbox-answer params="answer: answer, questionId: question.id, assessment: $parent.assessment"></passed-checkbox-answer>
			</li>
		</ul>
	</div>
</div>